.container{
    margin-left: 800px;
    margin-top: 300px;
}

.btn-btn-hero{
    margin-left: 80px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.btn-btn-hero:hover{
    background-color: black;
    color: white;
}

.nav-center{
    background-color: white;
    
}

.color{
    color: rgb(13, 92, 145);
}

h2{
    color: white;
}