body {
    background-color: rgb(9, 77, 104);
}
.img-container {
    width: 550px;
    height: 300px;
}

.img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.container {
    margin-left: 700px;
    margin-top: 200px;
};

.next-btn {
    margin-left: 200px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
};

.prev-btn {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
};
.prev-btn :hover {
    border-color: black;
    background-color: rgb(255, 166, 0);
}

   